* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url("../images/background/background_xadrez.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#cabecalho {
    background-image: url(../images/background/background_menu.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-color: rgb(233, 233, 233);
    margin-bottom: 30px;
}

#cabecalho .cabecalho {
    display: flex;
    justify-content: start;
    align-items: start;
}

#menu ul{
    display: flex;
    list-style: none;
    border-radius: 10px;
}


#menu .submenu {
    background-color: rgb(233, 233, 233);
    display: none;
    position: absolute;
    z-index: 1;
    color: black;
    padding: 0px;
}

#menu ul li a {
    background-color: rgb(233, 233, 233);
    color: black;
    text-decoration: none;
    display: block;
    padding: 30px 30px;
    transition: all .3s linear;
    gap: 8px;
}

#menu ul li a .icone {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

#menu ul li a:hover {
    background-color: black;
    color: rgb(233, 233, 233);
}

#menu ul li:hover  .submenu {
    display: block;
}

.container {
    background-color: rgb(233, 233, 233);
    padding: 30px;
    border-radius: 30px;
    overflow: hidden;
}

.titulo {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

#mangas img {
    float: left;
    display: block;
    max-width: 350px;
    height: auto;
    border: solid 2px black;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#gif img {
    float: top;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    margin: 0 auto 20px;
}

#mini img {
    width: 200px;
}

#historia img {
    float: top;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    margin: 0 auto 20px;
}


.conteudo p {
    margin-bottom: 15px;
    text-align: justify;
}

#fotos #galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#fotos #galeria img {
    display: block;
    width: 300px;
    transition: all 0.2s linear;
}

#fotos #galeria img:hover {
    transform: scale(1.1);
}

#videos #galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#rodape {
    background-image: url(../images/background/background_rodape.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
    background-color: rgb(247, 247, 247);
    color: black;
    padding: 30px;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
}

#rodape a {
    color: black;
    text-decoration: none;
}

#rodape a:hover {
    text-decoration: underline;
    color: red;
}